/* headings */
.headings{
    font-size: 1.9rem;
}

/* footer*/
.footer{
  margin-top: 70%;
  padding: 40px 0px;
}
/*home*/
.home .con .name{
  color: #333;
  font-size: 2.5rem;
  margin-top: 25%;
}
.home .image {
  flex: 1 1 39rem;
  
}

/* media queries navbar*/
@media (max-width: 650px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background:#565051;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover, a.active{
      background: none;
      color: #F67280;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/* about */
 @media screen and(max-width:650px) {
  .about .about_con .img{
    margin-bottom: 35px;

  }
  .txt .txt_1{
    font-size: 60px;
    margin-bottom: 25px;
  }
}
.btn_cv:hover {
  background: #e74c3c;
  opacity: 1;
}

/* media queries profile*/
@media screen and (max-width: 575px) {
    .card {
        width: 96%;
    }
  
    .card .card-body {
        padding: 10px 20px;
    }
  
    .card .card-footer .col {
        padding: 0 10px;
    }
  
    .card .card-footer .count {
        display: block;
        margin-bottom: 5px;
    }
  }

  
   /* mediaa queries skills*/
   @media (max-width: 900px) {
    .bg{
      display: flex;
      flex-direction: column;
    }
  }

 
  /* career */
@media screen and(max-width:650px) {
  .career .cg .img{
    margin-bottom: 35px;

  }
  .text .ft{
    font-size: 60px;
    margin-bottom: 25px;
  }
}
/*projects */
@media screen and (max-width:650px) {
  .gallery{
    column-count:1;
  }
  
}

@media (max-width: 480px){
  form .half{
    flex-direction: column;
  }
  form .half .item{
    width: 100%;
  }
  form .action{
    display: flex;
    flex-direction: column;
  }
  form .action input{
    margin-bottom: 10px;
    width: 100%;
  }
}